version: 2

jobs:
    build_and_test_node:
        docker:
            - image: circleci/python:3.7-stretch-node
              auth:
                username: dashautomation
                password: $DASH_PAT_DOCKERHUB
        steps:
            - checkout
            - run:
                name: Check current version of node
                command: node -v
            - restore_cache:
                key: deps1-{{ .Branch }}-{{ checksum "package-lock.json" }}

            - run:
                name: Install package.json
                command: npm ci

            - save_cache:
                key: deps1-{{ .Branch }}-{{ checksum "package-lock.json" }}
                paths:
                    - node_modules

            - run:
                name: Install Dash for package build and build package
                command: |
                    python -m venv venv
                    . venv/bin/activate
                    git clone --depth 1 https://github.com/plotly/dash.git dash-main
                    cd dash-main && pip install -e .[dev,testing]
                    cd dash-renderer && npm run build && pip install -e . && cd ../..
                    npm run build

            - run:
                name: Run unit tests
                command: |
                    npm run test

workflows:
    version: 2
    build:
        jobs:
            - build_and_test_node
